PORT=3000
MSSQL_SERVER=seu-servidor-mssql
MSSQL_PORT=1433
MSSQL_DATABASE=seu-banco
MSSQL_USER=seu-usuario
MSSQL_PASSWORD=sua-senha
MSSQL_ENCRYPT=true
MSSQL_TRUST_CERT=false
SESSION_SECRET=gere-um-segredo-longo-e-aleatorio
SESSION_HOURS=12
ALLOWED_ORIGIN=https://prevendasndd.github.io
